@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>A Privacy Policy is an important legal document that lets users understand the various ways a website might be collecting personal information.
    The purpose of a Privacy Policy is to inform users of your data collection practices in order to protect the customer's privacy.</p>
