@*@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label for="inputUsername" class="form-label">Username</label>
    <input type="text" class="form-control" id="inputUsername" ">
  </div>
  <div class="col-12">
    <label for="inputPhone" class="form-label">Phone</label>
    <input type="text" class="form-control" id="inputPhone">
  </div>

  <div class="col-md-4">
    <label for="inputStatus" class="form-label">Status</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>Admin</option>
      <option>User</option>
      <option>Employee</option>
    </select>
  </div>

  </div>
  <div class="col-12">
    <button type="Register" class="btn btn-primary">Register</button>
  </div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@


@page
@model web2.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>


<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" id="emailId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"  id="passwordId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword"  id="confirmId" class="text-danger"></span>
            </div>
            @*<button type="submit"  class="btn-primary">Register</button>*@
            <input type="button" value="Register" onclick="location.href='@Url.Action("Register", "Account")'" />
        </form>

    </div>
</div>



